@import 'src/theme/scss/helpers';

.wrapper {
  @include arrayProps((
    padding-left: 15px 36px 64px 112px
  ));

  .list {
    padding-inline-start: 32px;
  }

  .text {
    @include text(16px, normal, 400, normal);
    margin-top: 16px;

    @include arrayProps((
      font-size: 14px 16px
    ));
  }
}
