@import 'src/theme/scss/helpers';

.wrapper {
  position: fixed;
  bottom: 1.5%;
  right: 1.5%;

  .iconDefault {
    width: 80px;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity .3s ease-out;

    &:hover {
      opacity: 1;
      transition: opacity .3s ease-out;
    }
  }

  .iconNone {
    display: none;
  }

  .blockWrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .block {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 0 30px;
      background: var(--black);
      width: 314px;
      height: 366px;
      position: relative;
      border-radius: 20px;
      border: 4px solid #19fbdf;
      box-shadow: 0px 0px 50px 5px rgba(184, 184, 184, 0.25);

      .icon {
        position: absolute;
        top: -13%;
        left: 36%;
        width: 90px;
        height: 90px;
      }

      .titleWrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid var(--grey-text);
        margin-top: 89px;
        gap: 22px;
        margin-top: 37px;

        .title {
          font-family: 'Epilogue', sans-serif;
          display: block;
          @include text(32px, normal, 600, normal);
          text-align: center;
        }

        .description {
          @include text(16px, normal, 400, normal);
          display: block;
          text-align: center;
          margin-bottom: 22px;
        }
      }

      .linksWrap {
        display: flex;
        justify-content: space-evenly;

        .linkIcon {
          width: 45px;
          height: 45px;
        }
      }

      .phone {
        @include text(24px, normal, 400, 38px);
        font-family: 'Epilogue', sans-serif;
        text-align: center;
      }
    }
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(
      180deg,
      #0552c0 0%,
      #0d92b2 54.69%,
      #13c7a7 100%
    );
    border: none;
    box-shadow: 0px 6px 21px 0px #002955;
    
    img {
      height: 50%;
    }
  }
}
