@import 'src/theme/scss/helpers';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 45px;

  @include arrayProps((
    gap: 15px 45px,
  ));

  .title {
    @include text(40px, normal, 700, normal);
    text-transform: uppercase;

    @include arrayProps((
      font-size: 24px null 32px 40px,
    ));
  }

  .video {
    @include arrayProps((
      width: '100%',
      height: 'calc(100vw + -1 * 52vw)' 400px 512px 556px 812px
    ));
  }
}
