@import 'src/theme/scss/helpers';

.wrapper {
  .title {
    @include text(58px, normal, 700, 68px);
    background: var(
      --grad-norm,
      linear-gradient(262deg, #19fb9b -6.33%, #6cc0e6 100%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;

    @include arrayProps((
      font-size: 36px null 58px,
    ));
  }

  .contacts {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;

    @include arrayProps((
      flex-direction: 'column' 'row',
      margin-top: 25px null 30px 45px,
    ));
  }

  .map {
    border-radius: 50px;
    width: 700px;
    height: 500px;
    
    @include arrayProps((
      width: '100%' null 434px 700px,
      height: 273px null 295px 500px,
      margin-top: 30px 0
  ));
  }
}
