@import 'src/theme/scss/helpers';

.wrapper {
  display: flex;
  flex-direction: column;

  .title {
    @include text(42px, normal, 700, normal);
  }

  .formWrapper {
    .radioGroup {
      display: flex;
      flex-direction: row;
      gap: 10%;
    }
  }
}
