@import 'src/theme/scss/helpers';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 45px;

  @include arrayProps((
    max-width: '100%' '50%' null auto,
    gap: 15px 40px null 45px
  ));

  .btn {
    @include arrayProps((
      font-size: 24px null null 32px
    ));
  }
}

.dialogWrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .titleWrap {
    @include text(22px, normal, 700, 27px);
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include arrayProps((
      font-size: 12px 16px 20px 22px
    ));

    .title {
      @include text(22px, normal, 700, 27px);
      text-transform: uppercase;

      @include arrayProps((
        font-size: 12px 22px
      ));
    }

    .btn {
      background: transparent;
      border: none;
      cursor: pointer;

      img {
        @include arrayProps((
          width: 12px 20px,
          height: 12px 20px
        ));
      }
    }
  }
  .title {
    @include text(36px, normal, 700, normal);
    text-transform: uppercase;

    @include arrayProps((
      font-size: 16px 28px null null 32px 
    ));
  }

  .price {
    @include text(64px, normal, 700, normal);
    @include arrayProps((
      font-size: 24px 48px 52px 48px 58px,
      margin-top: 8px 16px 0 12px 18px
    ));
  }

  .description {
    @include text(18px, normal, 400, normal);
    width: 100%;

    @include arrayProps((
      margin-top: 12px 20px null 22px,
      font-size: 12px 16px 18px
    ));

    .textUpper {
      font-weight: 700;
      text-transform: uppercase;
      display: block;
      margin-bottom: 16px;
      font-size: 21px;

      @include arrayProps((
        font-size: 12px 16px 21px
      ));
    }
  }

  .totalWrap {
    
    @include arrayProps((
      margin-top: 16px 20px null 16px 24px,
      margin-bottom: 16px 20px null 16px 24px,
    ));

    .totalTitle {
      @include text(24px, normal, 600, normal);

      @include arrayProps((
        font-size: 12px 18px 20px 24px
      ));
    }

    .totalList {
      @include arrayProps((
        padding-left: 12px 40px
      ));

      .totalListItem {
        @include text(18px, normal, 400, normal);
  
        @include arrayProps((
          font-size: 12px 14px 16px 18px
        ));
      }
    }
  }

  .btn {
    @include arrayProps((
      font-size: 16px 20px null 24px 
    ));
  }
}
