@import '../../textMixin.scss';

.wrapper {
  max-width: 606px;

  .title {
    @include text(24px, normal, 700, normal);
    text-transform: uppercase;
  }

  .list {
    max-width: 600px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .marker {
      @include text(20px, normal, 400, normal);
      list-style-type: square;
      text-transform: lowercase;
    }
  }
}
