@import 'src/theme/scss/helpers';

.wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #6d6d6d;
  border-bottom: 1px solid #6d6d6d;

  .statisticsWrap {
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;


    @include arrayProps((
      display: grid flex,

      flex-direction: 'column' 'row',
      gap: 60px 0
    ));
  }
}
