@import 'src/theme/scss/helpers';

.wrapper {
    display: flex;
    flex-direction: row;
    gap: 45px;

    img {
      width: 42px;
      height: 40px;
    }

    .description {
      display: flex;
      gap: 10px;
      flex-direction: column;
      max-width: 163px;

      .title {
        @include text(10px, normal, 500, normal, var(--grey-text));
        text-transform: uppercase;
      }
    
      .text {
        @include text(9px, normal, 500, normal, var(--grey-text));
      }
    }
  
}
