.wrapper {
    display: flex;
    flex-direction: row;
    gap: 45px;

    img {
      width: 42px;
      height: 40px;
    }

    .description {
      display: flex;
      gap: 10px;
      flex-direction: column;
      max-width: 163px;
      .title {
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        color: var(--grey-text);
      }
    
      .text {
        font-size: 9px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        color: var(--grey-text);
      }
    }
  
}
