@import 'src/theme/scss/helpers';

.wrapper {
    display: flex;

    gap: 45px;
    cursor: pointer;
    
    @include arrayProps((
      gap: 15px 25px 35px 45px,
      flex-direction: column row,
            align-items: center inherit,
            text-align: center left
    ));

    img {
      transition: all 0.3s ease-out;
    }

    .outer {
      background-color: white;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    
    .back {
      height: 0%;
      max-width: 163px;

      @include arrayProps((
        max-width: 86px 163px 250px,
      ));
      transition: all 0.3s ease-out;
      background: linear-gradient(90deg, #19fb9b -6.33%, #6cc0e6 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    
    .inner {
      background-color: transparent;
    }

    img {
      @include arrayProps((
        width: 44px 36px null 42px,
        height: 44px 36px null 42px,
      ));
    }

    .description {
      display: flex;
      gap: 10px;
      flex-direction: column;

      @include arrayProps((
        max-width: 86px 163px 250px,
        gap: 3px 10px,
      ));

      .title {
        @include text(10px, normal, 500, normal, var(--grey-text));
        text-transform: uppercase;
        @include arrayProps((
          font-size: 10px 9px 12px 14px
        ));
      }
    
      .text {
        @include text(9px, normal, 500, normal, var(--grey-text));
        @include arrayProps((
          font-size: 4px 9px 12px 14px,
                display: none block
        ));
      }
    }
  
    &:hover .back {
      height: 100%;
    }

    &:hover img {
      filter: invert(70%) sepia(88%) saturate(286%) hue-rotate(124deg) brightness(91%) contrast(87%);
    }
}
