@import '../../textMixin.scss';

.wrapper {
  border-radius: 10px;
  background: rgba(113, 113, 113, 0.09);
  padding: 38px 142px 46px 42px;
  max-height: 208px;
  height: 100%;

  .title {
    @include text(42px, normal, 700, normal);
  }

  .text {
    @include text(24px, normal, 400, normal);
    display: block;
    max-width: 445px;
    margin-top: 15px;
    }
}
