@import 'src/theme/scss/helpers';

.wrap {
    overflow: hidden;
}

.wrapper {
    display: flex;
    margin-top: 45px;
    justify-content: space-between;
    white-space: nowrap;
    transition: transform 0.3s;
}

