@import 'src/theme/scss/helpers';

.carousel {
  display: flex;
  gap: 34px;
  
  @include arrayProps((
    display: flex none,
    gap: 20px null 24px 34px,
    justify-content: space-between,
    width: '100%' auto 
  ));
}
