@import '../../textMixin.scss';

.wrapper {
  position: relative;

  .descriptionWrap {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .title {
      @include text(40px, normal, 700, normal);
      text-transform: uppercase;
    }

    .text {
      @include text(16px, normal, 400, 19px);
    }
  }
  
  .back {
    background: rgba(63, 93, 255, 0.35);
    position: absolute;
    width: 250px;
    height: 300px;
    top: 80%;
    left: 0;
    fill: rgba(63, 93, 255, 0.24);
    filter: blur(250px);
  }
}
