@import 'src/theme/scss/helpers';

.wrapper {
  @include arrayProps((
    display: none block,
    padding-left: 24px 50px 80px 120px,
    padding-right: 24px 50px 80px 120px,
  ));

  .top {
    display: flex;
    border-bottom: 1px solid #313131;
    justify-content: space-between;
    padding-bottom: 26px;
    align-items: center;

    .location {
      @include text(20px, normal, 400, normal, var(--grey));
      display: flex;
      align-items: center;
      gap: 5px;
      cursor: pointer;
    }

    .location::before {
      content: '';
      display: flex;
      background-image: url('../../../public/assets/icons/location.svg');
      width: 15px;
      height: 15px;
      background-repeat: no-repeat;
    }
  }

  .low {
    .nav {
      @include text(27px, normal, 400, 150%);
      list-style-type: none;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: 26px 0 0 0;
      padding: 0;

      @include arrayProps((
        font-size: 27px 21px null 27px
      ));
      li {
        cursor: pointer;

        &:hover {
          background: linear-gradient(90deg, #19fb9b -6.33%, #6cc0e6 100%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      .btn {
        @include arrayProps((
          font-size: 21px null 27px,
        ));
      }
    }
  }
}