@import 'src/theme/scss/helpers';

.wrapper {
  video[poster]{
    width:100%;
  }

  .video {

    border-radius: 10px;
    width: 100%;

    @include arrayProps((
      height: 260px null 332px 380px 427px
  ));
  }
}
