@import 'src/theme/scss/helpers';

.wrapper {
  .video {
    border-radius: 10px;

    @include arrayProps((
      width: '100%' null 416px 483px 625px,
      height: 260px null 332px 380px 427px
  ));
  }
}
