@import '../../textMixin.scss';

.title {
  @include text(48px, normal, 700, normal);
  text-transform: capitalize;
  margin-bottom: 15px;
  display: block;
}
.subTitle {
  @include text(16px, normal, 400, 19px);
  text-transform: capitalize;
  white-space: pre-wrap;
}
