@import 'src/theme/scss/helpers';

.wrapper {
  position: relative;
  background: linear-gradient(451deg, #111 13.95%, rgba(217, 217, 217, 0.00) 47.87%);
  overflow: hidden;

  @include arrayProps((
    height: 550px 700px 800px 1000px,
  ));

  .img {
    position: absolute;
    right: 0;
    top: 0;
    mix-blend-mode: color-dodge;
    z-index: -1;

  //   @include arrayProps((
  //   height: 345px 557px 800px 1000px,
  // ));
  }
}

.back {
  z-index: -1;
  background: rgba(63, 93, 255, 0.35);
  position: absolute;
  width: 400px;
  height: 400px;
  top: 15%;
  right: 0;
  fill: rgba(63, 93, 255, 0.24);
  filter: blur(250px);
}
