@import 'src/theme/scss/helpers';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .info {
    @include text(64px, normal, 254, normal);
    font-family: 'Epilogue', sans-serif;

    @include arrayProps((
      font-size: 40px 40px 56px 64px
    ));
  }

  .text {
    @include text(14px, normal, 500, normal);

    @include arrayProps((
      text-align: center normal,
      font-size: 10px 12px null 14px
    ));
  }
}
