@import 'src/theme/scss/helpers';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .info {
    @include text(64px, normal, 254, normal);
    font-family: 'Epilogue', sans-serif;

    @include arrayProps((
    font-size: 64px 42px 56px 64px
  ));
  }

  .text {
    @include text(14px, normal, 500, normal);
  }
}
