@import 'src/theme/scss/helpers';

.btnWrap {
  display: flex;
  gap: 30px;

  .buttonLoc {
    @include arrayProps((
      font-size: 16px 20px 21px 24px,
      padding: '15px 20px'
    ));
  }
}

.titleWrap {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-grey);
  padding-bottom: 30px;

  .title {
    @include text(48px, normal, 300, 19px);
    font-family: 'Epilogue', sans-serif;

    @include arrayProps((
      font-size: 24px 32px null 48px 
    ));
  }

  .btn {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
  }

  @include arrayProps((
    padding-bottom: 20px 25px null 30px 
  ));
}
