@import 'src/theme/scss/helpers';

.wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background: linear-gradient(
    270deg,
    rgba(10, 10, 10, 0.6) -6.26%,
    #0a0a0a00 65.57%
  );
  gap: 40px;
  backdrop-filter: blur(7.5px);
  max-width: 900px;

  @include arrayProps((
    margin-top: 0 20px 32px 60px,
    padding: '20px 8px' '35px 30px' 60px 50px,
    max-width: 640px null 900px
  ));

  .title {
    @include text(58px, normal, 700, 68px);
    background: var(
      --grad-norm,
      linear-gradient(262deg, #19fb9b -6.33%, #6cc0e6 100%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: -1.16px;
    text-transform: uppercase;

    @include arrayProps((
      font-size: 24px 32px 48px 58px,
      line-height: normal null 68px
    ));
  }

  .description {
    @include text(14px, normal, 400, 20px);
    max-width: 581px;
  }

  .btnWrap {
    display: flex;
    justify-content: space-between;

    .btn {
      @include arrayProps((
        font-size: 14px 24px 32px 32px,
      ));
    }
  }
}
