@import 'src/theme/scss/helpers';

.wrapper {
  display: flex;
  gap: 60px;
  flex-direction: column;
  position: relative;

  
  @include arrayProps((
    gap: 30px 60px
  ));

  .back {
    background: rgba(63, 93, 255, 0.35);
    position: absolute;
    width: 300px;
    height: 400px;
    top: 30%;
    left: 0;
    fill: rgba(63, 93, 255, 0.24);
    filter: blur(250px);
    z-index: -1;
  }

  .titleWrap {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 45px 0;
    gap: 15px;
    height: 231px;
    background: linear-gradient(90deg, #111 43.56%, rgba(217, 217, 217, 0));
    overflow: hidden;

    .car {
      position: absolute;
      top: 0;
      mix-blend-mode: color-dodge;
      z-index: -1;

      @include arrayProps((
        left: '-90%' 0 '20%' null '37%'
      ));
    }

    .title {
      @include text(58px, normal, 700, 68px);
      background: var(
        --grad-norm,
        linear-gradient(262deg, #19fb9b -6.33%, #6cc0e6 100%)
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-transform: uppercase;

      @include arrayProps((
        font-size: 36px null 58px,
      ));
    }

    .description {
      @include text(16px, normal, 300, 19px);
      display: block;
      max-width: 477px;
    }
  }

  .whiteTitle {
    @include text(40px, normal, 700, normal);
    text-transform: uppercase;

    @include arrayProps((
      font-size: 24px null 40px
    ));
  }

  .whiteTitleCenter {
    @include text(40px, normal, 700, normal);
    text-transform: uppercase;
    text-align: center;

    @include arrayProps((
      font-size: 24px null 32px 40px,
    ));
  }

  .stateWrap {
    display: flex;
    gap: 15px;
    flex-direction: column;

    .stateTitle {
      @include text(40px, normal, 700, normal);
      max-width: 859px;
      text-transform: uppercase;

      @include arrayProps((
        font-size: 24px null 36px 40px,
      ));
    }

    .stateText {
      @include text(16px, normal, 300, 19px);
      display: block;
      max-width: 659px;
    }
  }

  .diagnosisWrap {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .diagnosisText {
      @include text(16px, normal, 300, 19px);
      display: block;
      text-align: center;

      @include arrayProps((
      font-size: 12px 14px null 16px,
    ));
    }

    .diagnosis {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      position: relative;

      @include arrayProps((
          gap: 15px 35px, 
          margin-top: 30px 45px,
          flex-direction: column row,

        ));

        .circle {
          display: flex;
        }

      .porshe {
        @include arrayProps((
          width: 210px 233px 290px 396px,
        ));
      }

      .porsheEngine {
        position: absolute;
        background-image: url('../../../public/assets/icons/effectCar.svg');
        width: 55px;
        height: 55px;

        @include arrayProps((
          top: '62%' '66%' null '68%',
          left: '37.1%' '38%' '41%' '43.4%' '44%',
        ));
      }

      .porsheTreaty {
        position: absolute;
        background-image: url('../../../public/assets/icons/effectCar.svg');
        width: 55px;
        height: 55px;

        @include arrayProps((
          top: '30%' '29%' '31%' '33%',
          left: '47%' '49%' '50%' '51%' '50%',
        ));
      }

      .porsheGearbox {
        position: absolute;
        background-image: url('../../../public/assets/icons/effectCar.svg');
        width: 55px;
        height: 55px;

        @include arrayProps((
          top: '35%' '32%' '34%' '36%',
          left: '37%' '39%' '41.3%' '43.3%' '45%',
        ));
      }

      .porsheInlet1 {
        position: absolute;
        background-image: url('../../../public/assets/icons/effectCar.svg');
        width: 55px;
        height: 55px;

        @include arrayProps((
          top: '8%' '9%' '10%' '12%' '12%',
          left: '22%' '23%' '25%' '27%' '29.2%',
        ));
      }

      .porsheInlet2 {
        position: absolute;
        background-image: url('../../../public/assets/icons/effectCar.svg');
        width: 55px;
        height: 55px;

        @include arrayProps((
          top: '8%' '9%' '10%' '12%' '12%',
          left: '51%' '53%' '55%' '57%' '57%',
        ));
      }

      .porsheInlet3 {
        position: absolute;
        background-image: url('../../../public/assets/icons/effectCar.svg');
        width: 55px;
        height: 55px;

        @include arrayProps((
          top: '73%' '68%' '73%',
          left: '37%' '38.2%' '41%' '43%' '43.2%',
        ));
      }

      .porsheBody1 {
        position: absolute;
        background-image: url('../../../public/assets/icons/effectCar.svg');
        width: 55px;
        height: 55px;

        @include arrayProps((
          top: '8%' '7%' '7%' '10%' '10%',
          left: '38.5%' '44.5%' '45.5%' '52.5%' '50.5%',
        ));
      }

      .porsheBody2 {
        position: absolute;
        background-image: url('../../../public/assets/icons/effectCar.svg');
        width: 55px;
        height: 55px;

        @include arrayProps((
          top: '39%' '13%' '15%' '19%' '18%',
          left: '43%' '39.2%' '40%' '47.3%' '43%',
        ));
      }

      .porsheBody3 {
        position: absolute;
        background-image: url('../../../public/assets/icons/effectCar.svg');
        width: 55px;
        height: 55px;

        @include arrayProps((
          top: '17%' '19%' null '22%' '22%',
          left: '25%' '28%' '30%' '40%' '33%',
        ));
      }

      .porsheBody4 {
        position: absolute;
        background-image: url('../../../public/assets/icons/effectCar.svg');
        width: 55px;
        height: 55px;

        @include arrayProps((
          top: '47%' '39%' '41%' '43%' '43%',
          left: '29%' '31%' '33%' '39%' '36%',
        ));
      }

      .porsheBody5 {
        position: absolute;
        background-image: url('../../../public/assets/icons/effectCar.svg');
        width: 55px;
        height: 55px;

        @include arrayProps((
          top: '55%' '46%' '51%' '50%' '51%',
          left: '37%' '40%' '42%' '47.3%' '44%',
        ));
      }

      .porsheBody6 {
        position: absolute;
        background-image: url('../../../public/assets/icons/effectCar.svg');
        width: 55px;
        height: 55px;

        @include arrayProps((
          top: '64%' '63%' '68%' '66%',
          left: '43%' '52%' '52.2%' '54%' '53%',
        ));
      }

      .porsheSuspension1 {
        position: absolute;
        background-image: url('../../../public/assets/icons/effectCar.svg');
        width: 55px;
        height: 55px;

        @include arrayProps((
          top: '59%' '63%' null '66%',
          left: '19%' '54%' '57%' '59%' '59%',
        ));
      }

      .porsheSuspension2 {
        position: absolute;
        background-image: url('../../../public/assets/icons/effectCar.svg');
        width: 55px;
        height: 55px;

        @include arrayProps((
          top: '59%' '63%' null '66%',
          left: '54%' '22.2%' '23.2%' '26.2%' '26.2%',
        ));
      }

      .porsheSuspension3 {
        position: absolute;
        background-image: url('../../../public/assets/icons/effectCar.svg');
        width: 55px;
        height: 55px;

        @include arrayProps((
          top: '16%' '17%' '18%' '20%',
          left: '19%' '56%' '59%' '61%' '61%',
        ));
      }

      .porsheSuspension4 {
        position: absolute;
        background-image: url('../../../public/assets/icons/effectCar.svg');
        width: 55px;
        height: 55px;

        @include arrayProps((
          top: '16%' '17%' '18%' '20%',
          left:  '54%' '20.2%' '22%' '24%' '25%',
        ));
      }
    }
  }

  .formalization {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .formalizationDescription {
      @include text(20px, normal, 400, normal);
      text-transform: lowercase;
    }

    .backBottom {
      background: rgba(63, 93, 255, 0.35);
      position: absolute;
      width: 300px;
      height: 400px;
      bottom: 20%;
      right: 0;
      fill: rgba(63, 93, 255, 0.24);
      filter: blur(250px);
    }
  }
}
