@import 'src/theme/scss/helpers';

.wrapper {
  display: flex;
  gap: 60px;
  flex-direction: column;
  position: relative;

  .back {
    background: rgba(63, 93, 255, 0.35);
    position: absolute;
    width: 300px;
    height: 400px;
    top: 30%;
    left: 0;
    fill: rgba(63, 93, 255, 0.24);
    filter: blur(250px);
  }

  .titleWrap {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 45px 0;
    gap: 15px;
    height: 231px;
    background: linear-gradient(90deg, #111 43.56%, rgba(217, 217, 217, 0));

    .car {
      position: absolute;
      top: 0;
      right: 30px;
      mix-blend-mode: color-dodge;
      z-index: -1;
    }

    .title {
      @include text(58px, normal, 700, 68px);
      background: var(
        --grad-norm,
        linear-gradient(262deg, #19fb9b -6.33%, #6cc0e6 100%)
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-transform: uppercase;
    }

    .description {
      @include text(16px, normal, 300, 19px);
      display: block;
      max-width: 477px;
    }
  }

  .whiteTitle {
    @include text(40px, normal, 700, normal);
    text-transform: uppercase;
  }

  .whiteTitleCenter {
    @include text(40px, normal, 700, normal);
    text-transform: uppercase;
    text-align: center;
  }

  .stateWrap {
    display: flex;
    gap: 15px;
    flex-direction: column;

    .stateTitle {
      @include text(40px, normal, 700, normal);
      max-width: 859px;
      text-transform: uppercase;
    }

    .stateText {
      @include text(16px, normal, 300, 19px);
      display: block;
      max-width: 659px;
    }
  }

  .diagnosisWrap {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .diagnosisText {
      @include text(16px, normal, 300, 19px);
      display: block;
      text-align: center;
    }

    .diagnosis {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-top: 45px;
      align-items: center;
    }
  }

  .formalization {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .formalizationDescription {
      @include text(20px, normal, 400, normal);
      text-transform: lowercase;
    }

    .backBottom {
      background: rgba(63, 93, 255, 0.35);
      position: absolute;
      width: 300px;
      height: 400px;
      bottom: 20%;
      right: 0;
      fill: rgba(63, 93, 255, 0.24);
      filter: blur(250px);
    }
  }
}
