@import 'src/theme/scss/helpers';

.wrapper {
  display: flex;
  gap: 60px;
  flex-direction: column;
  position: relative;

  
  @include arrayProps((
    gap: 30px 60px
  ));

  .back {
    background: rgba(63, 93, 255, 0.35);
    position: absolute;
    width: 300px;
    height: 400px;
    top: 30%;
    left: 0;
    fill: rgba(63, 93, 255, 0.24);
    filter: blur(250px);
    z-index: -1;
  }

  .titleWrap {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 45px 0;
    gap: 15px;
    height: 231px;
    background: linear-gradient(90deg, #111 43.56%, rgba(217, 217, 217, 0));
    overflow: hidden;

    .car {
      position: absolute;
      top: 0;
      mix-blend-mode: color-dodge;
      z-index: -1;

      @include arrayProps((
        left: '-90%' 0 '20%' null '37%'
      ));
    }

    .title {
      @include text(58px, normal, 700, 68px);
      background: var(
        --grad-norm,
        linear-gradient(262deg, #19fb9b -6.33%, #6cc0e6 100%)
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-transform: uppercase;

      @include arrayProps((
        font-size: 36px null 58px,
      ));
    }

    .description {
      @include text(16px, normal, 300, 19px);
      display: block;
      max-width: 477px;
    }
  }

  .whiteTitle {
    @include text(40px, normal, 700, normal);
    text-transform: uppercase;

    @include arrayProps((
      font-size: 24px null 40px
    ));
  }

  .whiteTitleCenter {
    @include text(40px, normal, 700, normal);
    text-transform: uppercase;
    text-align: center;

    @include arrayProps((
      font-size: 24px null 32px 40px,
    ));
  }

  .stateWrap {
    display: flex;
    gap: 15px;
    flex-direction: column;

    .stateTitle {
      @include text(40px, normal, 700, normal);
      max-width: 859px;
      text-transform: uppercase;

      @include arrayProps((
        font-size: 24px null 36px 40px,
      ));
    }

    .stateText {
      @include text(16px, normal, 300, 19px);
      display: block;
      max-width: 659px;
    }
  }

  .diagnosisWrap {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .diagnosisText {
      @include text(16px, normal, 300, 19px);
      display: block;
      text-align: center;

      @include arrayProps((
      font-size: 12px 14px null 16px,
    ));
    }

    .diagnosis {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      position: relative;

      @include arrayProps((
          gap: 15px 35px, 
          margin-top: 30px 45px
        ));

        .circle {
          display: flex;
        }

      .porshe {
        @include arrayProps((
          width: 136px 233px 290px 396px,
        ));
      }

      .porsheEngine {
        position: absolute;
        background-image: url('../../../public/assets/icons/effectCar.svg');
        width: 55px;
        height: 55px;

        @include arrayProps((
          top: '59%' '66%' null '68%',
          left: '43%' '46.3%' '47.2%' '47.4%' '48%',
        ));
      }

      .porsheTreaty {
        position: absolute;
        background-image: url('../../../public/assets/icons/effectCar.svg');
        width: 55px;
        height: 55px;

        @include arrayProps((
          top: '22%' '29%' '31%' '33%',
          left: '46%' '49%' '50%' '51%' '50%',
        ));
      }

      .porsheGearbox {
        position: absolute;
        background-image: url('../../../public/assets/icons/effectCar.svg');
        width: 55px;
        height: 55px;

        @include arrayProps((
          top: '45%' '50%' '52%' '55%' '54%',
          left: '43%' '46.4%' '47.3%' '47.3%' '48%',
        ));
      }

      .porsheInlet1 {
        position: absolute;
        background-image: url('../../../public/assets/icons/effectCar.svg');
        width: 55px;
        height: 55px;

        @include arrayProps((
          top: '0%' '5%' '7%' '8%' '10%',
          left: '36%' '41%' '43%' '42%' '45%',
        ));
      }

      .porsheInlet2 {
        position: absolute;
        background-image: url('../../../public/assets/icons/effectCar.svg');
        width: 55px;
        height: 55px;

        @include arrayProps((
          top: '0%' '5%' '7%' '8%' '9%',
          left: '49%' '51%' '52%' '53%' '52%',
        ));
      }

      .porsheInlet3 {
        position: absolute;
        background-image: url('../../../public/assets/icons/effectCar.svg');
        width: 55px;
        height: 55px;

        @include arrayProps((
          top: '63%' '68%' '73%',
          left: '43.2%' '46.2%' '47.2%' null '48.2%',
        ));
      }

      .porsheBody1 {
        position: absolute;
        background-image: url('../../../public/assets/icons/effectCar.svg');
        width: 55px;
        height: 55px;

        @include arrayProps((
          top: '0%' '5%' '7%' '8%' '10%',
          left: '46.5%' '50.5%' '50.5%' '52.5%' '50.5%',
        ));
      }

      .porsheBody2 {
        position: absolute;
        background-image: url('../../../public/assets/icons/effectCar.svg');
        width: 55px;
        height: 55px;

        @include arrayProps((
          top: '9%' '12%' '15%' '17%' '18%',
          left: '43%' '46.2%' '47%' '47.3%' '48%',
        ));
      }

      .porsheBody3 {
        position: absolute;
        background-image: url('../../../public/assets/icons/effectCar.svg');
        width: 55px;
        height: 55px;

        @include arrayProps((
          top: '14%' '22%' null null '22%',
          left: '37%' '40%' '42%' '40%' '43%',
        ));
      }

      .porsheBody4 {
        position: absolute;
        background-image: url('../../../public/assets/icons/effectCar.svg');
        width: 55px;
        height: 55px;

        @include arrayProps((
          top: '27%' '36%' '35%' '37%' '36%',
          left: '35%' '38%' '40%' '39%' '42%',
        ));
      }

      .porsheBody5 {
        position: absolute;
        background-image: url('../../../public/assets/icons/effectCar.svg');
        width: 55px;
        height: 55px;

        @include arrayProps((
          top: '40%' '46%' null '50%' '48%',
          left: '43%' '46%' '47%' '47.3%' '48%',
        ));
      }

      .porsheBody6 {
        position: absolute;
        background-image: url('../../../public/assets/icons/effectCar.svg');
        width: 55px;
        height: 55px;

        @include arrayProps((
          top: '58%' '63%' '62%' '66%',
          left: '49%' '52%' '52.2%' '54%' '53%',
        ));
      }

      .porsheSuspension1 {
        position: absolute;
        background-image: url('../../../public/assets/icons/effectCar.svg');
        width: 55px;
        height: 55px;

        @include arrayProps((
          top: '57%' '63%' null '66%',
          left: '49%' '52%' null '54%' '53%',
        ));
      }

      .porsheSuspension2 {
        position: absolute;
        background-image: url('../../../public/assets/icons/effectCar.svg');
        width: 55px;
        height: 55px;

        @include arrayProps((
          top: '57%' '63%' null '66%',
          left: '37.2%' '40.2%' '42.2%' '41.2%' '43.2%',
        ));
      }

      .porsheSuspension3 {
        position: absolute;
        background-image: url('../../../public/assets/icons/effectCar.svg');
        width: 55px;
        height: 55px;

        @include arrayProps((
          top: '11%' '17%' '18%' '20%',
          left: '49%' '52%' '53%' '54%' '53%',
        ));
      }

      .porsheSuspension4 {
        position: absolute;
        background-image: url('../../../public/assets/icons/effectCar.svg');
        width: 55px;
        height: 55px;

        @include arrayProps((
          top: '11%' '17%' '18%' '20%',
          left:  '37%' '40%' '41%' null '43%',
        ));
      }
    }
  }

  .formalization {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .formalizationDescription {
      @include text(20px, normal, 400, normal);
      text-transform: lowercase;
    }

    .backBottom {
      background: rgba(63, 93, 255, 0.35);
      position: absolute;
      width: 300px;
      height: 400px;
      bottom: 20%;
      right: 0;
      fill: rgba(63, 93, 255, 0.24);
      filter: blur(250px);
    }
  }
}
