@import 'src/theme/scss/helpers';

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;

  .title {
    @include text(32px, normal, 700, 120%);
    max-width: 489px;
  }

  .description {
    @include text(16px, normal, 500, 19.5px, var(--grey-text)); 
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 36px;
  }
}
