@import '../../textMixin.scss';

.wrapper {
  display: flex;
  flex-direction: row;
  max-width: 410px;
  gap: 24px;
  align-items: flex-start;

  .title {
    @include text(32px, normal, 700, 40px);
    text-transform: uppercase;
  }

  .description {
    @include text(16px, normal, 500, 19.5px, var(--grey-text)); 
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 36px;
  }
}
