@import 'src/theme/scss/helpers';

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;

  .icon {
    @include arrayProps((
      width: 35px 60px 71px,
      height: 35px 60px 71px,
    ));
  }

  .title {
    @include text(32px, normal, 700, 120%);
    max-width: 489px;
    @include arrayProps((
      font-size: 24px 16px null 32px,
    ));
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 36px;
  }
}
