@import '../../textMixin.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 45px;
  position: relative;

  .title {
    @include text(58px, normal, 700, 68px);
    background: var(
      --grad-norm,
      linear-gradient(262deg, #19fb9b -6.33%, #6cc0e6 100%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: 1046px;
  }

  .calculatorWrap {
    display: flex;
    justify-content: space-between;
  }

  .back {
    background: rgba(63, 93, 255, 0.35);
    position: absolute;
    width: 400px;
    height: 300px;
    top: 30%;
    left: -8%;
    fill: rgba(63, 93, 255, 0.24);
    filter: blur(250px);
  }
}

.dialogWrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .titleWrap {
    @include text(22px, normal, 700, 27px);
    width: 100%;
    display: flex;
    justify-content: space-between;

    .btn {
      background: transparent;
      border: none;
      cursor: pointer;

      img {
        height: 20px;
        width: 20px;
      }
    }
  }

  .title {
    @include text(48px, normal, 700, normal);
  }

  .price {
    @include text(96px, normal, 700, normal);
    margin-top: 44px;
  }

  .description {
    @include text(24px, normal, 400, normal);
    margin-top: 85px;

    .textUpper {
      font-weight: 700;
      text-transform: uppercase;
      display: block;
      margin-bottom: 16px;
    }
  }

  .totalWrap {
    margin-top: 78px;
    margin-bottom: 116px;

    .totalTitle {
      @include text(24px, normal, 600, normal);
    }

    .totalListItem {
      @include text(24px, normal, 400, normal);
    }
  }
}
