@import '../../textMixin.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 45px;
  position: relative;

  .title {
    @include text(58px, normal, 700, 68px);
    background: var(
      --grad-norm,
      linear-gradient(262deg, #19fb9b -6.33%, #6cc0e6 100%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: 1046px;
    text-transform: uppercase;
  }

  .calculatorWrap {
    display: flex;
    justify-content: space-between;
  }

  .back {
    background: rgba(63, 93, 255, 0.35);
    position: absolute;
    width: 400px;
    height: 300px;
    top: 30%;
    left: -8%;
    fill: rgba(63, 93, 255, 0.24);
    filter: blur(250px);
  }
}