@import 'src/theme/scss/helpers';

.wrapper {
  .connectWrap {
    display: flex;
    flex-direction: column;
    gap: 45px;

    @include arrayProps((
      gap: 30px 40px null 45px
    ));
  }

  .social {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 45px;
    
    .title {
      @include text(20px, normal, 500, normal);
      text-transform: uppercase;
    }

    .socialCarousel {
      @include arrayProps((
        display: flex,
      ));
    }
  }
}
