* {
  box-sizing: inherit;
  color: var(--white);
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  margin: 0;
}

html {
  position: relative;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  position: relative;
  display: block;
  background: var(--black);
}

a {
  text-decoration: none;
}

button {
  letter-spacing: inherit;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

.container {
  padding-top: 60px;
  padding-right: 13.5%;
  padding-bottom: 60px;
  padding-left: 13.5%;
}

:root{
  --grad-norm: linear-gradient(261.81deg, #19FB9B -6.33%, #6CC0E6 100%);
  --Style: linear-gradient(95.02deg, #6862FD 15.91%, #1293C3 78.04%);
  --grey: #777777;
  --light-grey: #7E7E7E;
  --grey-text: #9E9E9E;
  --black: #111;
  --white: #FFFFFF;
  --border-grey: #313131
}