@mixin text($font-size, $font-style, $font-weight, $line-height, $color: var(--white)) {
  font-size: $font-size;
  font-style: $font-style;
  font-weight: $font-weight;
  line-height: $line-height;
  color: $color;
}

