@import '../../textMixin.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--light-grey);
  padding-bottom: 30px;
  margin-top: 60px;

  .info {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    align-items: flex-end;

    .docs {
      @include text(14px, normal, 400, 38px, var(--light-grey));
      display: flex;
      flex-direction: column;
      text-transform: uppercase;

      .requisites {
        @include text(14px, normal, 400, 38px, var(--light-grey));
        text-transform: uppercase;
      }
    }

    .social {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .email {
        @include text(14px, normal, 400, 38px, var(--light-grey));
        text-align: end;
      }
    }
  }

  .reserved {
    @include text(16px, normal, 400, 150%, var(--light-grey));
    padding-bottom: 30px;
    margin: 0 auto;
  }
}
