@import 'src/theme/scss/helpers';

.wrapper {
    display: flex;
    position: relative;

    @include arrayProps((
        gap: 50px null 80px,
        flex-direction: column row
    ));

    .back {
        background: rgba(63, 93, 255, 0.35);
        position: absolute;
        height: 400px;
        top: 0;
        left: 0;
        fill: rgba(63, 93, 255, 0.24);
        filter: blur(250px);

        @include arrayProps((
            width: 0 400px
        ));
    }
}