@import 'src/theme/scss/helpers';

.wrapper {
    display: flex;


  @include arrayProps((
    gap: 10px 30px,
          width: 100% auto,
          flex-direction: row column,
          justify-content: space-evenly normal
  ));
}