@import 'src/theme/scss/helpers';

.wrapper {
    display: flex;
    margin-top: 77px;
    justify-content: space-around;
    align-items: center;
    gap: 45px;

    @include arrayProps((
        margin-top: 20px 30px null 77px,
        flex-direction: 'column' 'row'
      ));
}